body {
  background-color: darkgrey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

nav ul {
  list-style: none;
  visibility: hidden;
  width: 200px;
  transition: all 0.3s ease-in-out;
}

nav ul li {
  text-transform: uppercase;
  padding: 5px;
  width: 200px;
  transition: all 0.3s ease-in-out;
}

/*Menu Background Colors*/

.darkgrey {
  background-color: darkgrey;
}

.coral {
  background-color: coral;
}

.turquoise {
  background-color: turquoise;
}

.purple {
  background-color: purple;
}

.yellowgreen {
  background-color: yellowgreen;
}
